*

!*/
!/blend/**/*.blend
!/blend/**/*.blend.txt
!/blend/**/*.tga
!/vrm/**/*.vrm
!/vrm/**/*.vrm.TO_BE_SUPPORTED.txt
!/gui/test.sikuli/*
!/gui/userpref.blend
!/.gitattributes
!/.gitignore

/vrm/*/temp/
