* -text
.* text eol=lf
*.asmdef text eol=crlf
*.asset text eol=lf
*.cs text eol=crlf
*.json text eol=lf
*.md text eol=lf
*.meta text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.unity text eol=lf
csc.rsp text eol=lf
